#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.contador{
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: cornflowerblue;
}